{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/sweetalert2.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <title>e-BLBC</title>
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <script>
            let r=document.querySelector(':root'),
                darkMode=localStorage.getItem("oa-blbc-mode"),
                sidebarMode=localStorage.getItem("oa-blbc-sidebar");
            if(!sidebarMode){
                localStorage.setItem("oa-blbc-sidebar","close");
            }
            if(sidebarMode==="open"){
                r.style.setProperty('--sidebar-width','12.25em');
                r.style.setProperty('--sidebar-text-opacity','1');
                r.style.setProperty('--toggle-rotation','rotate(180deg)');
            }
            if(darkMode==="dark"){
                r.style.setProperty('--body-color','#18191a');
                r.style.setProperty('--sidebar-color','#242526');
                r.style.setProperty('--hover-color','#ccc');
                r.style.setProperty('--primary-color','#3a3b3c');
                r.style.setProperty('--primary-color-light','#3a3b3c');
                r.style.setProperty('--toggle-color','#fff');
                r.style.setProperty('--text-color','#ccc');
                r.style.setProperty('--left-size','1.25em');
                r.style.setProperty('--opacity-sun','0');
                r.style.setProperty('--opacity-moon','1');
            }
        </script>
    </head>
    <body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                        <img src="/static/images/logo.png" alt="">
                    </span>
                <div class="text logo-text">
                    <span class="name">BLBC</span>
                    <span class="organization">Surabaya</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <label>
                        <input id="search-text" type="text">
                    </label>
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/home">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/generals-quarters">
                            <i class='bx bx-bar-chart-alt-2 icon' ></i>
                            <span class="text nav-text">Revenue</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Notifications</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-heart icon' ></i>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-wallet icon' ></i>
                            <span class="text nav-text">Wallets</span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a href="/login">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon icon">
                        <i class='bx bx-sun icon sun'></i>
                        <i class='bx bx-moon icon moon'></i>
                    </div>
                    <span class="mode-text text">Day</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <script src="/static/js/script.js"></script>
    <section class="home">
        {{block "content" .}}{{end}}
    </section>
    <script src="/static/js/sweetalert2.min.js"></script>
    {{block "js" .}}{{end}}
    </body>
    </html>
{{end}}