{{ template "base" .}}
<!--suppress HtmlFormInputWithoutLabel -->
{{define "css"}}
<link rel="stylesheet" href="/static/css/form.css">
{{end}}
{{define "content"}}
<div class="container" id="container">
    <header>Input Surat Masuk</header>

    <form action="#">
        <div class="form first">
            <div>
                <span class="title">Data Surat Aju</span>
                <div class="fields">
                    <div class="input-field">
                        <label>Nomor Agenda</label>
                        <input type="text" placeholder="Masukkan Nomor Agenda" required>
                    </div>
                    <div class="input-field">
                        <label>Waktu Surat Aju Diterima</label>
                        <input type="datetime-local" required>
                    </div>
                    <div class="input-field">
                        <label>Nomor Surat Aju</label>
                        <input type="text" placeholder="Masukkan nomor surat aju" required>
                    </div>
                    <div class="input-field">
                        <label>Tanggal Surat Aju</label>
                        <input type="date" required>
                    </div>
                </div>
            </div>
            <div>
                <span class="title">Data Dokumen</span>
                <div class="fields">
                    <div class="input-field">
                        <label>Jenis Dokumen</label>
                        <select required>
                            <option disabled selected>Pilih jenis dokumen</option>
                            <option>Form 3d</option>
                            <option>Impor</option>
                            <option>Ekspor</option>
                            <option>Lartas</option>
                            <option>Uji Banding</option>
                            <option>Barang Kiriman</option>
                            <option>Barang Penumpang</option>
                            <option>Lain-lain</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label>Nomor Dokumen</label>
                        <input type="text" placeholder="Masukkan nomor dokumen" required>
                    </div>
                    <div class="input-field">
                        <label>Nama Perusahaan</label>
                        <input type="text" placeholder="Masukkan nama perusahaan" required>
                    </div>
                    <div class="input-field">
                        <label>Tanggal Dokumen</label>
                        <input type="date" required>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button class="pdf-reader" id="pdf-reader">
                    <span class="btnText">PDF Reader</span>
                </button>
                <button id="nextBtn">
                    <span class="btnText">Next</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </div>

        <div class="form second">
            <div>
                <span class="title" id="side-by-side">Jumlah Sampel: </span>
                <input type="number" id="jumlah-sampel" min="1" required>
                <div class="fields">
                    <div class="input-field no-sampel" id="no-sampel">
                        <label>No Sampel</label>
                    </div>
                    <div class="input-field nama-sampel" id="nama-sampel">
                        <label>Nama Sampel</label>
                    </div>
                    <div class="fields sampel" id="fields-sampel">
                        <div class="input-field no-sampel">
                            <input type="text" required>
                        </div>
                        <div class="input-field nama-sampel">
                            <input type="text" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <div class="backBtn">
                    <span class="btnText">Back</span>
                    <i class="uil uil-navigator"></i>
                </div>
                <button class="submit">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </div>
    </form>
</div>
{{end}}
{{define "js"}}<script src="/static/js/form.js"></script>{{end}}