{{ template "base" .}}
<!--suppress HtmlFormInputWithoutLabel -->
{{define "css"}}
<link rel="stylesheet" href="/static/css/form.css">
{{end}}
{{define "content"}}
<div class="container" id="container">
    <header>Input Surat Masuk</header>

    <form action="#">
        <div class="form first">
            <div>
                <span class="title">Data Surat Aju</span>
                <div class="fields">
                    <div class="input-field">
                        <label>Nomor Agenda</label>
                        <input placeholder="Masukkan Nomor Agenda" required>
                    </div>
                    <div class="input-field">
                        <label>Waktu Surat Aju Diterima</label>
                        <input type="datetime-local" required>
                    </div>
                    <div class="input-field">
                        <label>Nomor Surat Aju</label>
                        <input placeholder="Masukkan nomor surat aju" required>
                    </div>
                    <div class="input-field">
                        <label>Tanggal Surat Aju</label>
                        <input type="date" required>
                    </div>
                </div>
            </div>
            <div>
                <span class="title">Data Dokumen</span>
                <div class="fields">
                    <div class="input-field">
                        <label>Jenis Dokumen</label>
                        <input type="text" list="listDokumen" placeholder="Pilih jenis dokumen" id="jenis-dokumen">
                        <datalist id="listDokumen">
                            <option value="Form 3d">
                            <option value="Impor">
                            <option value="Ekspor">
                            <option value="Lartas">
                            <option value="Uji Banding">
                            <option value="Barang Kiriman">
                            <option value="Barang Penumpang">
                            <option value="Lain-lain">
                        </datalist>
                    </div>
                    <div class="input-field">
                        <label>Nomor Dokumen</label>
                        <input placeholder="Masukkan nomor dokumen" required>
                    </div>
                    <div class="input-field">
                        <label>Nama Perusahaan</label>
                        <input placeholder="Masukkan nama perusahaan" required>
                    </div>
                    <div class="input-field">
                        <label>Tanggal Dokumen</label>
                        <input type="date" required>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button class="pdf-reader" id="pdf-reader">
                    <span class="btnText">PDF Reader</span>
                </button>
                <button id="nextBtn">
                    <span class="btnText">Next</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </div>

        <div class="form second">
            <div>
                <span class="title" id="side-by-side">Jumlah Sampel: </span>
                <input type="number" id="jumlah-sampel" min="1">
                <div class="fields">
                    <div class="input-field no-sampel" id="no-sampel">
                        <label>No Sampel</label>
                    </div>
                    <div class="input-field nama-sampel" id="nama-sampel">
                        <label>Nama Sampel</label>
                    </div>
                    <div class="fields sampel" id="fields-sampel">
                        <div class="input-field no-sampel" id="nomor">
                        </div>
                        <div class="input-field nama-sampel" id="nama">
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <div class="backBtn">
                    <span class="btnText">Back</span>
                    <i class="uil uil-navigator"></i>
                </div>
                <button class="submit">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </div>
    </form>
</div>
{{end}}
{{define "js"}}<script src="/static/js/form.js"></script>{{end}}